<div class="container">
  <div class="row">
  <div class="col-lg-6 col-md-offset-3">
    <div class="row">
    <h1>All your places</h1>

      <%= form_tag(new_place_path,  method: :get, class: 'form-inline') do |f| %>
            <%= text_field_tag :place, '',class: 'searchplace', id:'pac-input', placeholder: 'Add a new place' %>
              <%= hidden_field_tag :place_id, "", class: "place_id_value" %>
              <%= button_tag(type: "submit", class: "btn btn-primary btn-xl") do %><i class="fa fa-plus"></i>
              <% end %>
          <% end %>
          <div>
            <div id="btn-toggle-map" class="btn icon-xs">
              <i class="fa fa-map-o"></i> View map
            </div>
          </div>
    </div>

<!-- list-user-places -->
    <div class="row">
      <div id="list-wrapper">
      <% @savedplaces.reverse.each do |savedplace| %>
        <div class="panel panel-default" >
          <div class="panel-body horizontal">
            <div class="left-picture">
              <% if savedplace.place.photos.nil? || savedplace.place.photos.empty? %><p>No picture yet</p>
              <% else %>
              <div class="img-thumb" style="background-image: url(<%= image_url savedplace.place.photos[0].fetch_url(1500), class: "img-responsive" %>);"></div>
              <% end %>
            </div>
            <div class="right-text">
              <h5><%= savedplace.place.name %></h5>
              <p><%= savedplace.place.address %></p>

              <p class="text-right"><%= link_to 'Go', user_savedplace_path(@user,savedplace), class: "btn btn-primary btn-xs"%></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>


    <div class="row">
      <div id="map" style="width: 100%; height: 600px;"></div>
    </div>

  </div>
</div>
</div>


<!-- Maps script with toggle -->

<% content_for(:after_js) do %>
          <%= javascript_tag do %>
            $(document).on('ready', function() {

            var mapOptions = { scrollwheel: false };

              $("#map").addClass("hide");

              $("#btn-toggle-map").on("click", function(){

                $("#map").toggleClass("hide")
                $("#list-wrapper").toggleClass("hide")

                handler = Gmaps.build('Google');
                handler.buildMap({
                  provider: mapOptions,
                  internal: { id: 'map' } }, function(){
                  markers = handler.addMarkers(<%= raw @markers.to_json %>);
                  handler.bounds.extendWith(markers);
                  handler.fitMapToBounds();
                });

              })

            })
          <% end %>
        <% end %>



