<div class="container">
  <div class="col-md-6 col-md-offset-3">

    <div class="row">
    <h1><%= @savedplace.place.name %></h1>
    </div>

<!-- show-place -->
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">

        <h4 class = "headline"><%= best_in_place [@user, @savedplace], :headline, :as => :input, place_holder: "Add a catchy headline" %></h4>
        <p class = "notop small">By <%= @savedplace.user.email %> added on <%= @savedplace.created_at %></p>

         <% if @savedplace.place.photos.nil? || @savedplace.place.photos.empty? %>
          <% else %>
            <div class="img-highlight" style="background-image: url(<%= image_url @savedplace.place.photos[0].fetch_url(1500), class: "img-responsive" %>);"></div>
          <% end %>
          <%= render 'shared/uploadpicture' %>

         <br>

         <% if @savedplace.usertags.empty? && @savedplace.tip.nil? %>
         <%= render 'shared/editsavedplace' %>
         <% else %>

         <div id="showinfo">
          <% if @savedplace.tag.nil? || @savedplace.tag.empty? %>
          <h6>No tags yet</h6>
          <% else %>
          <h6>Tags</h6>
          <%= text_field_tag "", @savedplace.tag, class: "tokenize", id: "tagsfield" %><hr>
          <% end %>
          <% if @savedplace.tip.nil? || @savedplace.tip.empty? %>
          <h6>No tips yet</h6>
          <% else %>
          <h6>Tips and notes</h6>
          <%= @savedplace.tip %>
          <% end %>
          <div class="text-right" id="add-form">
            <p class="btn btn-primary btn-xs">add tags and tips</p>
          </div>
         </div>

         <div class="hidden" id="formedit">
           <%= render 'shared/editsavedplace' %>
         </div>
         <% end %>

        <h6>Categories</h6>
        <ul class="list-inline">
        <% @savedplace.user_places_categories.each do |cat| %>
        <li><%= cat.name %></li>
        <% end %>
        <hr>
        <h6>Saved in</h6>
        <ul class="list-unstyle">
        <% @savedplace.collections.each do |collection| %>
        <li><%= collection.name %></li>
        <% end %>
        </ul>

        <div class="text-right">
         <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target=".bs-example-modal-sm">Add to a collection</button>

        </div>

        <h6>Address</h6>
         <p><%= @savedplace.place.address %></p>
        <hr>
        <div id="map" style="width: 100%; height: 300px;"></div>

      </div>
    </div>
  </div>
</div>
</div>


<!-- Small modal -->

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title" id="myModalLabel">Select collection</h5>
      </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12">
              <%= render 'shared/addtocollection' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Maps script with toggle -->

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      var mapOptions = { scrollwheel: false };
      handler = Gmaps.build('Google');
      handler.buildMap({
        provider: mapOptions,
        internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });

      $("#tagsfield").tokenfield("readonly");
    });
  <% end %>
<% end %>

<style>
  .readonly .token a {
    cursor: default;
  }
</style>





