<div class="container">
  <div class="row">
    <% if !user_signed_in? %>
    <div class="col-md-8 col-left-home">
      <div class="headline-home">
        <span class="strong">Discover, create and share</span><br>
        <span class="large">YOUR PERSONAL CITY GUIDES</span><br>
        <button class="btn btn-info">take the tour</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-12">
            <h2>Start it here</h2>
            <%= render "devise/shared/linkfacebook" %>
            <hr>
            <%= simple_form_for(@resource, as: resource_name, url: session_path(resource_name)) do |f| %>

              <div class="form-inputs">

                <%= f.input :email, required: false, autofocus: true %>
                <%= f.input :password, required: false %>
                <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, "Log in", class: "btn btn-primary btn-sm" %>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
    <% else %>
    <div class="col-md-6 col-md-offset-3">
      <div class="row">

          <div class="panel-tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#addplace" aria-controls="addplace" role="tab" data-toggle="tab">Add new place</a></li>
                <li role="presentation"><a href="#addcollection" aria-controls="addcollection" role="tab" data-toggle="tab">Create placelist</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="addplace">
               <%= form_tag(new_place_path,  method: :get, class: 'form-inline') do |f| %>
                <%= text_field_tag :place, '',class: 'searchplace', id:'pac-input', placeholder: 'Add a new place' %>
                <%= hidden_field_tag :place_id, "", class: "place_id_value" %>
                <%= button_tag(type: "submit", class: "btn btn-primary btn-xl") do %><i class="fa fa-plus"></i>
                <% end %>
              <% end %>
              <p><%= link_to 'All my places', user_savedplaces_path(@user,@savedplaces), class: "btn btn-primary btn-xs"%></p>
              </div>
                <div role="tabpanel" class="tab-pane" id="addcollection">
                  <%= form_for [@user, @collection], :html => {class: 'form-inline'} do |f| %>
                <%= f.text_field :name, placeholder: "E.g: Best brunch places in Barcelona", class: "searchplace" %>
                <%= button_tag(type: "submit", class: "btn btn-primary btn-xl") do %><i class="fa fa-plus"></i>
                 <% end %>
              <% end %>
              <p><%= link_to 'All my placelists', user_collections_path(@user,@collections), class: "btn btn-primary btn-xs"%></p>
            </div>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>






















