<div class="container">
  <div class="row">
    <% if !user_signed_in? %>
    <div class="col-md-8 col-left-home">
      <div class="headline-home">
        <span class="strong">Discover, create and share</span><br>
        <span class="large">YOUR PERSONAL CITY GUIDES</span><br>
        <button class="btn btn-info">take the tour</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-12">
            <h2>Start it here</h2>
            <%= render "devise/shared/linkfacebook" %>
            <hr>
            <%= simple_form_for(@resource, as: resource_name, url: session_path(resource_name)) do |f| %>

              <div class="form-inputs">

                <%= f.input :email, required: false, autofocus: true %>
                <%= f.input :password, required: false %>
                <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, "Log in", class: "btn btn-primary btn-sm" %>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
    <% else %>
    <div class="col-md-6 col-md-offset-3">
      <div class="row">
        <%= render "shared/formadd" %>

      </div>


       <!-- Cities list -->
      <div class="row">
        <% @array_cities.each do |city| %>
          <div class="panel panel-default ">
            <div class="panel-body">
              <div class="list-group">
                <div class="list-group-item">
                  <div class="row-picture">
                    <%= image_tag("#{city}.jpg", class: "circle") %>
                  </div>
                  <div class="row-content">
                    <div class="action-secondary"><i class="material-icons">share</i></div>
                    <h5 class="list-group-item-heading"><%=  link_to "#{city}", user_savedplaces_path(@user, :city => "#{city}") %></h5>

                    <p class="list-group-item-text"><%= @user.savedplaces.joins(:place).where("places.city = ?", city).size %> Saved places</p>
                  </div>
                </div>
                <div class="list-group-separator"></div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <% end %>
  </div>
</div>
























